
<div class="container" id="aboutpage">
	<h2>about</h2>

	<div id="about">
		<p>This is my first app using Ruby and rails. Not much else to say yet, but eager to find out what lays ahead...</p>
	</div>
</div>