<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>

	<h2>Basic Contact Information</h2>
	
	<h3>Name</h3>
	<p>Steve Fenner</p>
	
	<h3>Phone Me</h3>
	<p>+44 7827 970710</p>
	
	<h3>email Me</h3>
	<p>s.fenner@peachtechnologies.co.uk</p>