<link rel="stylesheet" href="stylesheets/Indexpage.css">
<div class="container col-xs-12">

	<h2><span>THE online store for all your biking needs</span></h2>

	<%= image_tag("MountainBiking.jpg", class: "img-responsive", id="MountainBiking") %>
</div>