// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th,td {
	border: black solid 1px;
	padding: 4px;
	font-size: 1.2em;
	max-width: 500px;
}

th {
	background-color: #A3C43B;
	font-family: arial, sans-serif;
}

#action, #action a{
	color: red;
	text-decoration: none;
	border: none;	
	background-color: #f8ffc6;
}

.ProductList {
	margin-left: 20px;
}