<!DOCTYPE html>
<html>
<head>
  <title>Fennoir Bikes</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

</head>
<body>
<h1>Welcome to Fennoir Bikes!</h1>
<div class="header">

	<ul class="tabs  primary-nav">
	    <li class="tabs_item">
	        <a href="/static_pages/index" class="tabs_link">Home</a>
	    </li>
	    
	    <li class="tabs_item">
	        <a href="/static_pages/about" class="tabs_link">About</a>
	    </li>

	    <li class="tabs_item" id="workpage">
	        <a href="#" class="tabs_link" data-toggle="tooltip" data-placement="right" title="Still in development">Store</a>
	    </li>

	    <li class="tabs_item">
	        <a href="/static_pages/contact" class="tabs_link">Contact</a>
	    </li>
	</ul>
</div>

<%= yield %>

<footer class="footer">
	&copy; 2017 Fennoir Bikes Ltd
</footer>
</body>
</html>
